</div>
<!-- dummy image as placeholder for image overlay !-->
<img id="myImg" src="">
<br><br><br>

<footer class="footer">
      <div class="container-audio">
          <audio id="audio" title="" controls>
            Your browser dose not Support the audio Tag
          </audio>
      </div>
</footer>
<!-- set myimg workaround for imageviewer link !-->
<p id='myImg'></p>

     </div>
      <br><br>
      <br><br>
      <br><br>
      <br><br>
      <br><br>
      <br><br>
      <br><br>
      <br><br>
      <br><br>
</div>
<!-- overlay for image navigation -->
<div id="myModal" class="modal">
<div id="imageoverlay"></div>
<span class="close">&times;</span>
<div class="w3-content w3-display-container">
<div class="w3-display-container mySlides">
<div class="demo" style="visibility: hidden;"></div>
</div>
</div>
<script type="text/javascript" src="templates/lib.js"></script>
<script type="text/javascript" src="templates/libtheme.js"></script>
<script type="text/javascript" src="templates/imageviewer.js"></script>
<script>
    let text           = "";
    let filterelement  = "";

    // ui label for searchbox indicates which element will filter
    if (window.localStorage.getItem('tdelement') === '1') {
       filterelement = "artist";
    }
    if (window.localStorage.getItem('tdelement') === '2') {
       filterelement = "title";
    }
    if (window.localStorage.getItem('tdelement') === '3') {
       filterelement = "album";
    }
    if (window.localStorage.getItem('tdelement') === '4') {
       filterelement = "genre";
    }
    if (window.localStorage.getItem('tdelement') === '5') {
       filterelement = "theme";
    }
    if (window.localStorage.getItem('tdelement') === '6') {
       filterelement = "year";
    }
    if (window.localStorage.getItem('tdelement') === null) {
       window.localStorage.setItem('tdelement', '1');
       filterelement = "artist";
    }
    if (window.localStorage.getItem('theme') === 'dark') {
       text += '<input class="tablesearchboxdark" type="text" id="srinput" onkeyup="searchandfilter()" placeholder="Search for ' + filterelement + '..">';
    } else {
       text += '<input class="tablesearchboxlight" type="text" id="srinput" onkeyup="searchandfilter()" placeholder="Search for ' + filterelement + '..">';
    }
    document.getElementById("searchbox").innerHTML = text;
    document.getElementById("srinput").focus();

    // audio player routines todo needs optimization and further tweaks
    const trElements = document.querySelectorAll('tr.trlight');
    const audio      = document.getElementById('audio');
    let currentIndex = 0;
    let urls         = [];
    let titles       = [];
    let shuffle      = false;
    audio.volume     = 0.5;

    trElements.forEach(trElement => {
        const onclickAttribute = trElement.getAttribute('onclick');
        const urlMatch = onclickAttribute.match(/audioplay\('([^']+)'/);
        if (urlMatch && urlMatch[1]) {
            urls.push(urlMatch[1]);
            const titleElement = trElement.querySelector('td:nth-child(3)');
            titles.push(titleElement ? titleElement.textContent : 'Unknown Title');
        }
    });

    let previousPicks = [];

    function shuffleplay(set) {
        if (previousPicks.length === set) {
            // reset picks
            previousPicks = [];
        }

        let shuffleindex;
        do {
            shuffleindex = Math.floor(Math.random() * set);
        } while (previousPicks.includes(shuffleindex));
        // ensure the pick is not a previous pick

        previousPicks.push(shuffleindex);
        console.log('pick: ', shuffleindex);
        return shuffleindex;
    }

// Accessing previous picks
//let mostRecentPick = previousPicks[currentIndex - 1]; // 5
//let secondMostRecentPick = previousPicks[currentIndex - 2]; // 1
//let thirdMostRecentPick = previousPicks[currentIndex - 3]; // 7


    audio.addEventListener('ended', () => {
        //console.log('Playback ended!');
        if (currentIndex == trElements.length) {
           currentIndex = 0;
        }
        // shuffle play
        if (shuffle) {
           currentIndex = shuffleplay(trElements.length);
        }
        audioplay(urls[currentIndex], trElements[currentIndex]);
    });
</script>
</body>
</html>
