<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8" />
    <title>table</title>
    <link rel="icon" type="image/x-icon" href="images/favicon.jpg">
    <link rel="stylesheet" href="templates/font.css" />
    <link rel="stylesheet" href="templates/main.css" />
</head>
<body>
<button id="darkmodeswitch" hidden>dark mode on/off</button>
<nav class="nav">
  <div class="nav-left">
    <a class="nav-item" href="index.html">THRIVE4</a>
  </div>

  <label for="menu-toggle" class="nav-toggle">&equiv;</label>
  <input type="checkbox" id="menu-toggle" class="is-hidden"/>

  <div class="nav-right nav-menu">
    <a class="nav-item" href="about.html">About</a>
    <a class="nav-item" href="#" onclick="document.getElementById('myModal').style.display='block'">imageviewer</a>
    <a class="nav-item" href="" onclick="switchtheme(); id='darkmodeswitch';">dark mode</a>
  </div>
</nav>

<br><br><br>
<div class="container">
